body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #ccc;
	background-color: #333;
	text-align: center;
	/* part 1 of 2 centering hack */
	}

#nav {
	top: 0px;
	margin: auto;
	width: 965px;

	background: #666;
	border: 5px solid #ccc;
	border-top: 0px;
	text-align: center;
	}
#content {
	width: 400px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	/* opera does not like 'margin:20px auto' */
	background: #666;
	border: 5px solid #ccc;
	text-align: center;
	/* part 2 of 2 centering hack */
	width: 400px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 370px;
	}
html>body #content {
	width: 370px; /* ie5win fudge ends */
	}

#widget {
	position:fixed;
	top:0;
	right:0;
}

img {
	border:0;
}

a {
	color: #fff;
}
